<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>广播式WebSocket</title>
        <script th:src="@{js/sockjs.min.js}"></script>
        <script th:src="@{js/stomp.js}"></script>
        <script th:src="@{js/jquery-3.2.1.js}"></script>
        <script type="text/javascript">
            var stompClient = null;
            
            function connect() {
                var socket = new SockJS('/endpointStomp');
                stompClient = Stomp.over(socket);
                stompClient.connect({}, function (frame) {
                    console.log('Connected:' + frame);
                    
                    setConnected(true);
                    
                    stompClient.subscribe('/topic/getResponse', function (response) {
                        var message = JSON.parse(response.body).message;
                        $("#response").html(message);
                    });
                });
            }
            
            function disconnect() {
                setConnected(false);
                
                if (stompClient != null) {
                    stompClient.disconnect();
                }
                console.log('Disconnected');
            }
            
            function sendName() {
                var name = $('#name').val();
                console.log('name:' + name);
                stompClient.send("/welcome", {}, JSON.stringify({'name': name}));
            }

            function setConnected(connected) {
                document.getElementById("connect").disabled = connected;
                document.getElementById("disconnect").disabled = !connected;
                document.getElementById("conversationDiv").style.visibility = connected ? 'visible' : 'hidden';

                if (!connected) {
                    $('#name').val('');
                    $("#response").html('');
                }
            }
        </script>
    </head>
    <body onload="disconnect()">
    <noscript>
        <h2 style="color: #e80b0a;">Sorry，浏览器不支持WebSocket</h2>
    </noscript>
    <div>
        <div>
            <button id="connect" onclick="connect();">连接</button>
            <button id="disconnect" disabled="disabled" onclick="disconnect();">断开连接</button>
        </div>
    
        <div id="conversationDiv">
            <label for="name">输入你的名字</label><input id="name" type="text"/>
            <button id="sendName" onclick="sendName();">发送</button>
            <p id="response"></p>
        </div>
    </div>
    </body>
</html>